.info-icon-wrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.custom-tooltip {
  display: none;
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  color: #333;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  z-index: 100;
}

.info-icon-wrapper:hover .custom-tooltip {
  display: block;
}

#cutoff-table-container {
  animation: fadeIn 0.3s ease-in-out;
  border: 1px solid #dee2e6;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}

#feedback-panel {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}


@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to   { opacity: 1; transform: translateY(0); }
}

.table thead th {
  background: #1f2937; /* Darker modern header */
  color: #fff;
}

.table tbody tr:hover {
  background-color: #f8f9fa;
  transition: background-color 0.2s ease-in-out;
}

.table td, .table th {
  vertical-align: middle;
}

#cutoff-table td:nth-child(1), 
#cutoff-table th:nth-child(1) {
  max-width: 280px; /* Adjust as needed */
  text-align: center;
}

#cutoff-table td:nth-child(2), 
#cutoff-table th:nth-child(2) {
  max-width: 280px; /* Adjust as needed */
  text-align: center;
}